/*
* Globals
*/

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


  
  
/*
  * Masthead for nav
  */

  #KTBlogo {
    width: 200px;
  }

.blog-masthead {
  background-color: rgba(121, 201, 213, 0.25);
}
  
.navbar-nav li {
  text-align: right;
}

.navbar-nav li a{
  font-size: large;
}

.headerSeperator{
  height: 20px;
  width: 100%;
}

.c1 {
  background-color: #38779B;
  height: 20px;
}
.c2 {
  background-color: #27BADA;
  height: 20px;
}
.c3 {
  background-color: #F18980;
  height: 20px;
}
.c4 {
  background-color: #93C8B4;
  height: 20px;
}
.c5 {
  background-color: #EF7944;
  height: 20px;
}
.c6 {
  background-color: #FADBD5;
  height: 20px;
}
.c7 {
  background-color: #F4952D;
  height: 20px;
}
.c8 {
  background-color: #FBF6C1;
  height: 20px;
}
.c9 {
  background-color: #319C7F;
  height: 20px;
}
.c10 {
  background-color: #EB5597;
  height: 20px;
}
.c11 {
  background-color: #FBB912;
  height: 20px;
}
.c12 {
  background-color: #424294;
  height: 20px;
}



  
  /*      Index      */



/*
  * Main column and sidebar layout
  */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
  * Blog posts
  */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
  * Footer
  */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}